*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* styles.css */
body {
  font-size: 1.6rem;
  font-family: sans-serif;

  color: #fff;
  background: #000;
}

header {
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  margin: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}
