*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* styles.css */
body {
  font-size: 1.6rem;
  font-family: sans-serif;

  color: #dedcdc;
  background: #020008;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

header {
  padding: 4rem;
  text-align: center;
  text-transform: uppercase;
}

header span {
  animation: fadeInOut 2s infinite;
}

section {
  padding: 6rem 4rem;
}

.profile__imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.profile__imgs div {
  flex: 1;
  height: 40rem;
  overflow: hidden;
  border-radius: 1rem;
  transform: scale(0.8);
  border: 2px solid #fff;
}

.profile__imgs div:nth-of-type(2) {
  transform: scale(1.2);
}

img {
  width: 110%;
  height: 110%;
  border-radius: 1rem;
}

#goals {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#goals h2 {
  text-transform: uppercase;
  text-align: center;

  position: relative;
}

#goals h2::after {
  position: absolute;
  bottom: -1.5rem;
  left: 0;

  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
}

.goals__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goals__list ul {
  list-style: none;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}
